<section class="section">
  <div class="container">
    <h1 class="title">
      {{title}}
    </h1>
    <p class="subtitle">
      welcome to {{title}}!
    </p>
    <div id="message" class="content"></div>
    <hr>
    <div class="field">
      <div class="control">
        <input class="input is-primary is-medium" type="text" name="message" placeholder="type your message">
      </div>
    </div>
    <button class="button is-primary">Send Message</button>
  </div>
</section>